body {
    font-family: JetBrainsMono;
    margin: auto;
    position: relative;
    min-height: 100vh;
}

#title {
    text-align: center;
    font-weight: normal;
    font-size: 4.5em;
    margin: auto;
    color: white;
    padding: 0.5em;
    background-color:darkturquoise;
}

header {
    background-color: black;
}

nav {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 60%;
    margin: auto auto;
    color: white;
    max-width: 700px;
}

#sticky {
    background-color: black;
    position: sticky;
    top: 0;
}

a:hover {
    color: deeppink;
}

a {
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}

.link {
    color: darkturquoise;
    padding: 0;
    text-decoration: none;
}


.activePage, .activePage:hover{
    background-color: deeppink;
    color: white;
}

img {
    object-fit: contain;
    padding-top: 1em;
    padding-bottom: 1em;
    max-height: 80vh;
    max-width: 90vw;
}

.caption {
    margin: 0 0 1em 0;
}

#pics {
    width: 90%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    text-align: center;
}

#line {
    background-color: deeppink;
    height: 0.3em
}

footer {
    background-color: darkturquoise;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
}

.content {
    padding-bottom: 5vh;
}



@font-face {
    font-family: JetBrainsMono;
    src: url(webfonts/JetBrainsMono-Regular.woff2)
}